* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 3rem;
}

.bold {
    font-weight: 700;
}

.app {
    width: 100%;
    position: relative;
    background-color: rgb(37, 37, 37);
    color: white;
}

.app .search {
    text-align: center;
    padding: 1rem;
}

.app input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .1);
    color: white;
    outline: none;
    cursor: pointer;
}

::placeholder {
    color: white;
}

.container {
    width: 1200px;
    max-width: 80%;
    margin: auto;
    height: 100vh;
    padding: 1rem 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .top {
    width: 100%;
    margin: 1rem auto;
}

.app .description {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.app .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .2);
}